@charset "UTF-8";

#header_top {
  height: 40px;
}
#header_top ul {
  display: flex;
  justify-content: end;
  line-height: 40px;
}
#header_top ul li {
  margin-left: 20px;
  font-size: 14px;
}
#header_top ul li a {}

#header_bottom {
  background-color: #c7002e;
  /*! position: fixed; */
  width: 100%;
  /*! top: 0; */
}
#header_bottom nav{
  display: flex;
  line-height: 80px;
  justify-content: space-between;
}
#header_bottom .gnb {
  display: flex;
}
#header_bottom .gnb .lnb_btn {
  width: 80px;
  height: 80px;
}
#header_bottom .gnb .lnb_btn a{

}
#header_bottom .gnb .lnb_btn a img{
  width: 60px;
}
#header_bottom .gnb h1 {
  margin: 0 20px;
}
#header_bottom .gnb h1 a {

}
#header_bottom .gnb h1 a img {

}
#header_bottom .gnb ul {
  display: flex;
}
#header_bottom .gnb ul li {
  margin: 0 20px;
  position: relative;
}
#header_bottom .gnb ul li a {
  color: #fff;
  font-size: 18px;
  display: block;
}
#header_bottom .gnb>ul>li>a:hover{
  transform: scale(1.03);
}
#header_bottom .header_icon {

}
#header_bottom .header_icon ul {
  display: flex;
}
#header_bottom .header_icon ul li {
  margin: 0 10px;
}
#header_bottom .header_icon ul li a {
  color: #fff;
  font-size: 18px;
}
#header_bottom .header_icon ul li a img {
  height: 34px;
}

/********* GNBì˜ SUB_MENU *********/
#header_bottom ul.sub {
  position: absolute;
  width: 166px;
  background-color: #fff;
  z-index: 1;
  transform: translate(-50%);
  left: 50%;
  border-radius: 16px;
  padding: 20px 12px;
  top: 73px;
  display: none;
}
#header_bottom ul > li:hover .sub{
	display: block;
}
#header_bottom ul.sub::before{
	display: block;
	content: "";
	position: absolute; 
	top: -24px;
	left: 50%;
	transform: translate(-50%);
	border: 12px solid transparent;
	border-bottom-color: #fff;
}

#header_bottom ul.sub li {
  color: #555;
  font-size: 17px;
  display: block;
}
#header_bottom ul.sub li a{
  color: #555;
  text-align: left;
  line-height: 37px;
  font-size: 16px;
  display: block;
}
#header_bottom ul.sub li:hover a{
  color: #c7002e;
}


/**************** FOOTER *****************/
footer {
  color: #555;
  text-align: center;
  /*! line-height: 42px; */
  font-size: 16px;
  display: block;
}
.ft_top {
  display: flex;
  justify-content: space-between;
}
.ft_top::before{
}
.ft_top ul.list {
  display: flex;
  padding: 30px 0;
}
.ft_top ul.list li {

}
.ft_top ul.list li a {
  color: #666;
  border-right: 1px solid #666;
  padding: 0 10px;
}
.ft_top ul.list li a.bold {
  color: #d5d5d5;
  border-right: 1px solid #666;
  padding: 0 10px;
}
.ft_top ul.list li:nth-of-type(1) a{
  padding-left: 0; 
}
.ft_top ul.list li:nth-of-type(7) a{
  border: none;
}
.ft_top .site {
  padding: 30px 0;
}
.ft_top .site a {

  color: #666;
  border: 1px solid #666;
  border-radius: 30px;
  padding: 6px 20px;
  font-size: 12px;
}
.ft_bottom {
  border-top: 1px solid #666;
  padding-top: 20px;
}
.ft_bottom h3 {
  background-image: url(../img/f_logo.png);
  background-repeat: no-repeat;
  width: 104px;
  height: 34px;
  font-size: 0;
  margin: 20px 0;
}
.ft_bottom p {
  font-size: 14px;
  margin-top: 5px;
}